<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        
        <footer class="footer">
       
        <ul class="r-footer">
        <li>
          <h2>
        About</h2>
        <p>LearnHUB is an online platform that allows Learners to search and book sessions with Tutors. We have a thorough onboarding process for Tutors to ensure you find the best tutor for your need.</p>
        </li>
        <li class="features">
          <h2>
        Information</h2>
        <ul class="box">
        <li><a href="#">Blog</a></li>
        
        <li><a href="#">Certifications</a></li>
        
        </ul>
        </li>
        <li>
          <h2>Legal</h2>
        <ul class="box">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Contract</a></li>
        </ul>
        </li>
        <li>
            <h2>Contact Us</h2>
          <ul class="box">
          <li><a href="#">info@learnhub.com</a></li>
          <li><a href="#">(+91) 89093 32287</a></li>
          <li ><a href="#"><i class="fab fa-facebook"></i> </a>

            <a style="padding-left:25px;" href="#">  <i class="fab fa-twitter"></i> </a>
            <a style="padding-left:25px;" href="#">  <i class="fab fa-instagram-square"></i> </a>
          
          </li>
          </ul>
          </li>

        </ul>
        <div class="b-footer">
        <p>
        All rights reserved by ©LearnHUB 2021 </p>
        </div>
        </footer>
        
</body>
</html>
