<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        LearnHUB is an online platform that allows Learners to search and book sessions with Tutors. We have a thorough onboarding process for Tutors to ensure you find the best tutor for your need. We understand the evolving way people learn today, and that inspired us to create a solution that works best for you. We know that learning your way provides the best results, and that’s why our offerings are dynamic and customized to your specific needs. As a Learner, you can search for tutors by subject, filter by session type (Online or In-Person), curricula, age group, or gender. Our aim is to make learning fun and easy through our one-stop-shop convenient and user-friendly process. Register now and start your learning journey with LearnHUB.
    </p>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#"><i class="fab fa-youtube"></i> Youtube</a>
        <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
    </div>

</section>

