<section class="course">
    <div class="container">
        <h1 class="text-center">All Courses</h1>
    
        <div class="card-deck">
            <div class="card ">
                <div class="card-header">Angular</div>
                <div class="card-body"> <img src="./assets/images/angular.png" class="rounded mx-auto d-block" alt="9" width="100%" height="200px"> 
               <p>Angular is a platform and framework for building single page client applications using HTML and TypeScript.   </p>
                </div>
                
                <div class="card-footer"><a href="https://angular.io/" class="btn btn-primary btn-sm mt-2" role="button"> See More</a> </div>
            </div>
            <div class="card ">
                <div class="card-header">TypeScript</div>
                <div class="card-body"> <img src="./assets/images/ts.jfif" class="rounded mx-auto d-block" alt="9" width="100%" height="200px"> 
                <p>TypeScript lets you write JavaScript the way you really want to. TypeScript is a typed superset of JavaScript that compiles to plain JavaScript. </p>
                </div>   
                <div class="card-footer"><a href="https://www.typescriptlang.org/" class="btn btn-primary btn-sm mt-2" role="button"> See More</a></div>
            </div>
            <div class="card ">
                <div class="card-header">NodeJS</div>
                <div class="card-body"> <img src="./assets/images/node.png" class="rounded mx-auto d-block" alt="9" width="100%" height="200px"> 
                <p>Node.js is a cross-platform environment and library for running applications which is used to create networking and server-side applications.</p>
                </div>
                <div class="card-footer"><a href="https://expressjs.com/" class="btn btn-primary btn-sm mt-2" role="button"> See More</a></div>
            </div>

            <div class="card">
                <div class="card-header">ReactJS</div>
                <div class="card-body"> <img src="./assets/images/r.jfif" class="rounded mx-auto d-block" alt="9" width="100%" height="200px"> 
                <p>The main objective of ReactJS is to develop User Interfaces (UI) that improves the speed of the apps.</p>
                </div>
                <div class="card-footer"><a href="https://reactjs.org/" class="btn btn-primary btn-sm mt-2" role="button"> See More</a></div>
            </div>

          </div>
    
    </div>
    </section>
